# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Dependencias de Node
node_modules/

# Carpeta de build (producción)
/dist

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Cache de Sass
.sass-cache/

# Configuraciones de editores e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Carpetas de pruebas, cobertura y archivos temporales
coverage/
tmp/
temp/
